#no deja ingresar a otras carpetas
Options All -Indexes

#permite trabajar con las url amigables
Options -MultiViews
RewriteEngine On

#siempre direccion a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]


